.add-movie-container {
  background:
    linear-gradient(0deg, rgb(146 185 10 / 88%), rgb(146 185 12 / 88%)),
    url("../images/reservation.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.add-movie-div {
  width: 70%;
  border-radius: 1rem;
}

.add-movie-form .form-control {
  border-radius: 2rem;
  border-color: var(--primary-color);
}

.add-price-input {
  background-color: white;
  color: var(--gray-color);
  border-radius: 2rem;
}

.add-btn {
  background-color: $primary;
  color: white;
  border-radius: 20px;
}

.cancel-add-btn {
  border-radius: 20px;
}
