.add-movie-container {
  background:
    linear-gradient(0deg, rgb(146 185 10 / 88%), rgb(146 185 12 / 88%)),
    url("../images/reservation.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.add-movie-div {
  width: 70%;
  border-radius: 1rem;
}

.form-control {
  background: transparent;
  border: 2px solid white;
}

.form-control::placeholder {
  color: white;
}

.form-control:focus {
  border: white;
  box-shadow: none;
}

.form-control:focus::placeholder {
  color: #343a40 !important;
}

.add-movie-form .form-control {
  border-radius: 2rem;
}

.add-movie,
.cancel-add {
  padding: 0.375rem 3rem;
}

.add-movie {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.add-movie:hover {
  background-color: white;
  color: rgb(25, 135, 84);
}

.cancel-add {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.cancel-add:hover {
  background-color: #dc3545;
  color: white;
}

.add-price-input-l, .add-price-input-r{
  background-color: transparent;
  border-radius: 2rem;
  border: 2px solid white;
}

.add-price-input-l {
  border-right: none;
}

.add-price-input-r {
  border-left: none;
}

.ticket-price{
  border-left: none;
  border-right: none;
}
