* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.container-fluid {
  padding: 0;
}

.login,
.signup {
  font-size: small;
  border: 1px solid #98bf11;
  color: #98bf11;
}

.login:hover,
.signup:hover {
  background-color: #98bf11;
  color: white;
}

.nav-link {
  font-size: 20px;
  font-weight: 450;
  text-align: left;
  text-transform: uppercase;
  color: #212529;
}

.nav-link:hover {
  background-color: #98bf11;
  color: white;
}

.nav-link.active {
  background-color: #98bf11;
  color: white;
}

.mobile-nav {
  display: block;
  background-color: transparent;
}

.navbar-toggler {
  border: none;
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='40' height='40'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
  box-shadow: none;
}

.form-control {
  background: transparent;
}

.form-control::placeholder {
  color: white;
}

.form-control:focus {
  border: white;
  box-shadow: none;
}

.form-control:focus::placeholder {
  color: #343a40;
}

.add-movie {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.add-movie:hover {
  background-color: white;
  color: rgb(25, 135, 84);
}

.cancel-add {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.cancel-add:hover {
  background-color: #dc3545;
  color: white;
}

.add-price-input {
  background-color: transparent;
  border-radius: 2rem;
}

@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}
