$primary: #98bf11 !default;
$gray: #efefef;
$gray-font: #adadaf;

@import "~bootstrap/scss/bootstrap.scss";
@import "./reservation.scss";
@import "./homepage.scss";
@import "./details.scss";
@import "./signIn.scss";
@import "./delete-movie-style.scss";
@import "./AddMovie.scss";
@import "./NavPanel.scss";
@import "./MobileNav.scss";
@import "./MovieCard.scss";
@import "./reservationform.scss";

:root {
  --primary-color: $primary;
  --gray-color-font: $gray-font;
  --gray-color: $gray;
}

#root {
  font-family: sans-serif;
}

.app-container {
  padding-left: 12.625rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.container-fluid {
  padding: 0;
}

.btn,
button {
  width: max-content !important;
}

.slide {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
  }
}

// gaps

.g-1 {
  gap: 0.25rem;
}

.g-2 {
  gap: 0.5rem;
}

.g-3 {
  gap: 0.75rem;
}

.g-4 {
  gap: 1rem;
}

.g-5 {
  gap: 1.25rem;
}

.g-6 {
  gap: 1.5rem;
}

.g-7 {
  gap: 1.75rem;
}

.g-8 {
  gap: 2rem;
}

.g-9 {
  gap: 2.25rem;
}

.g-10 {
  gap: 2.5rem;
}

.g-11 {
  gap: 2.75rem;
}

.g-12 {
  gap: 3rem;
}

.g-13 {
  gap: 3.25rem;
}

.g-14 {
  gap: 3.5rem;
}

.g-15 {
  gap: 3.75rem;
}

.g-16 {
  gap: 4rem;
}

.container-main {
  min-height: 100vh;
}


.offcanvas-header{
  padding: 1.25rem 1.5625rem;
}

@media screen and (max-width: 768px) {
  .app-container {
    padding-left: 0;
  }
}
