.delete-container {
  background:
    linear-gradient(0deg, rgb(146 185 10 / 88%), rgb(146 185 12 / 88%)),
    url("../images/reservation.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.delete-card {
  border-radius: 2rem;
  border: 1px solid var(--gray-color);
  box-shadow: 1px 2px 4px #aaa;
}

.delete-img {
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: 300ms ease;

  &:hover {
    transform: scale(1.2);
  }
}

.delete-btn {
  border-radius: 1rem;
}
