.delete-container {
  background:
    linear-gradient(0deg, rgb(146 185 10 / 88%), rgb(146 185 12 / 88%)),
    url("../images/reservation.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.delete-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  border-radius: 4px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(146, 185, 10, 0.8);
}

.delete-img {
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: 300ms ease;

  &:hover {
    transform: scale(1.2);
  }
}

.delete-btn {
  border-radius: 1rem;
}
