.details-btn {
  background: rgba(12, 12, 12, 0.88);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 10% 0;

  &:hover {
    background: $primary;
  }
}

.movie-details-image {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top center;
}

@media screen and (max-width: 768px) {
  .details-container {
    margin-top: 25%;
  }
}
