@mixin swiper-arrow($border-radius) {
  background: $primary;
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.home {
  width: 93vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0;
  justify-content: center;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.singlecard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  text-decoration: none;
  color: inherit;

  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top center;
  }
}

.swiper {
  margin: 0;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.bold-font {
  font-weight: 700;
}

.gray-font {
  color: #575756;
}

.dash {
  border: 1px dashed gray;
  width: 40%;
  margin: 3% 0;
  align-self: center;
}

.home-dash {
  width: 20%;
  margin: 2% 0;
}

i {
  color: #575756;
}

.service-rating-price {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3%;
}

.service-circle-splitter {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  background-color: #575756;
}

.fa-star-half-stroke {
  color: green;
}

.fa-dollar-sign {
  color: #be710c;
}

.service-name {
  margin-top: 16px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0 4px;
}

.service-name:hover {
  color: #98bf11;
}

.service-details {
  margin-top: 4%;
  text-align: justify;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0 24px;
}

.service-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top center;
}

.homepage-heading {
  margin-top: 25%;
}

@media (min-width: 801px) {
  .home {
    align-items: center;
    width: 80vw;
  }

  .singlecard {
    img {
      width: 80%;
    }
  }

  aside {
    display: block;
  }

  .service-list {
    padding: 3rem 0;
  }

  .bold-font {
    font-weight: 700;
  }

  .gray-font {
    color: #575756;
  }

  .dash {
    border: 1px dashed gray;
    width: 40%;
    margin: 3% 0;
  }

  .home-dash {
    width: 10%;
    margin: 2% 0;
  }

  .swiper-button-prev {
    @include swiper-arrow(0% 25% 25% 0% / 50% 50% 50% 50%);

    background-image: url(../images/left.png);
  }

  .swiper-button-next {
    @include swiper-arrow(25% 0 0 25% / 50% 50% 50% 50%);

    background-image: url(../images/right.png);
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
    pointer-events: none;
    background-color: #efefef;
  }

  .swiper-button-prev,
  .swiper-button-next {
    &::after {
      display: none;
    }

    display: block;
  }

  .carousel-container {
    position: relative;
  }

  .react-multi-carousel-track {
    li {
      display: flex;
      flex-direction: column;
      align-content: center;
    }
  }

  .homepage-heading {
    margin-top: 5%;
  }
}
