.image-size-div {
  width: 20rem;
  overflow: hidden;

  .movie-image-size {
    width: 100%;
  }
}

.movie-name {
  color: black;
  text-decoration: none; /* Add this line to remove underline */
  text-decoration: underline;
  margin-top: 16px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0 4px;
}

.movie-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top center;
}

.movie-name:hover {
  color: #98bf11;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0;
  justify-content: center;
}
