.main-nav {
  max-width: 250px;
  border-right: 1px solid #e7e7e7;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar {
  min-height: 100vh;
}

.site-logo {
  width: 80%;
}

.login-btn,
.signup {
  font-size: small;
  border: 1px solid #98bf11;
  color: #98bf11;
}

.login-btn:hover,
.signup:hover {
  background-color: #98bf11;
  color: white;
}

.btn.active {
  background-color: #98bf11;
  color: white;
}

.nav-link {
  font-size: 20px;
  font-weight: 450;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none !important;
  color: black !important;
}

.nav-link:hover {
  background-color: #98bf11 !important;
  color: white !important;
}

.nav-link.active {
  background-color: #98bf11 !important;
  color: white !important;
}

.social-link {
  font-size: 24px;
  color: black;
}

.intialsL,
.intialsK,
.intialsA,
.intialsT {
  color: #98bf11 !important;
  text-decoration: none !important;
  font-weight: bold !important;
  text-shadow: 0 0 10px rgba(152, 191, 17, 0.8) !important; /* Text glow effect */

  /* Animation to rotate each letter */
  animation: rotateLetters 1.5s infinite alternate ease-in-out;

  /* Transition for hover effect */
  transition: transform 0.3s ease-in-out;
}

/* Keyframes for letter rotation animation */
@keyframes rotateLetters {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(10deg);
  }
}

/* Hover effect */
.intialsL:hover,
.intialsK:hover,
.intialsA:hover,
.intialsT:hover {
  transform: scale(2); /* Enlarge the letter on hover */
}

@media screen and (max-width: 768px) {
  .main-nav {
    display: none;
  }
}
