.main-nav {
  max-width: 250px;
  border-right: 1px solid #e7e7e7;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar {
  min-height: 100vh;
}

.site-logo {
  width: 80%;
}

.login-btn,
.signup {
  font-size: small;
  border: 1px solid #98bf11;
  color: #98bf11;
}

.login-btn:hover,
.signup:hover {
  background-color: #98bf11;
  color: white;
}

.btn.active {
  background-color: #98bf11;
  color: white;
}

.nav-link {
  font-size: 20px;
  font-weight: 450;
  text-align: left;
  text-transform: uppercase;
  color: #212529;
}

.nav-link:hover {
  background-color: #98bf11;
  color: white;
}

.nav-link.active {
  background-color: #98bf11;
  color: white;
}

.social-link {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .main-nav {
    display: none;
  }
}
